<!DOCTYPE html>
<html lang="en">

<body>
    <fieldset>
        <legend>Technologies</legend>
        <table id="techTable">
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Beginner</th>
                    <th>Intermediate</th>
                    <th>Expert</th>
                </tr>
            </thead>
            <tbody>
                <input type="hidden" name="applicant_id" value="<%= applicantId %>">

                    <% for( let i = 0; i < technologiesList.length; i++ ) { %>
                    <tr>
                        <td><%= technologiesList[i] %></td>
                        <% for( let j = 0; j < proficiencyLevels.length; j++ ) { %>
                            <td><input type="radio" name="<%= technologiesList[i] %>" onclick="handleClick()" 
                                <% if (technologies[i]) { %>
                                    <%= (technologies[i].proficiency === proficiencyLevels[j]) ? 'checked' : '' %>
                                <% } %> 
                                value= <%= proficiencyLevels[j] %>
                                >
                            </td>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>

    </fieldset>

    <script>
        function handleClick(e) {
            unselectRadioBtn(e)
        }

        function unselectRadioBtn(e) {

        }
    </script>
</body>

</html>