<!DOCTYPE html>
<html lang="en">

<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Date of Birth</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <% if (pageData) { %>
                <% pageData.forEach(applicant => { %>
                    <tr>
                        <td> <%= applicant.id %> </td>
                        <td> <%= applicant.first_name %> </td>
                        <td> <%= applicant.phone %> </td>
                        <td> <%= applicant.email %> </td>
                        <td> <%= applicant.full_address %> </td>
                        <td> <%= applicant.dob.toLocaleDateString('en-GB') %> </td>
                        <td> <%= applicant.gender %> </td>
                        <td> <%= applicant.city %> </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <p>No data found.</p>
            <% } %>
        </tbody>
    </table>




    <form action="/" method="get">
        <input type="text" name="page" value="<%= currentPage %>">
        <input type="submit" value="Go">
    </form>

    <% if (currentPage>0) { %>
    <a href="/?page=<%= currentPage - 1 %>">Previous</a>
    <% } %>
    <% for( let i = 0; i < totalPages; i++ ) { %>
    <a href="/?page=<%= 1+i %>"><%= i+1 %></a>
    <% } %>
    <% if (currentPage<totalPages) { %>
    <a href="/?page=<%= currentPage + 1 %>">Next</a>
    <% } %>

    <script>
        document.addEventListener('submit', validatePageNumber)

        function validatePageNumber() {
            // stub
        }
    </script>

</body>

</html>