<!DOCTYPE html>
<html lang="en">

<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>Date of Birth</th>
                <th>Gender</th>
            </tr>
        </thead>
    </table>
    <form action="/" method="get">
        <input type="text" name="page" value="<%= currentPage %>">
        <input type="submit" value="Go">
    </form>

    <% if (currentPage>0) { %>
    <a href="/?page=<%= currentPage - 1 %>">Previous</a>
    <% } %>
    <% for( let i = 0; i < totalPages; i++ ) { %>
        <a href="/?page=<%= 1+i %>"><%= i+1 %></a>
    <% } %>
    <% if (currentPage<totalPages) { %>
    <a href="/?page=<%= currentPage + 1 %>">Next</a>
    <% } %>
    
    <script>
        document.addEventListener('submit', validatePageNumber())
        function validatePageNumber(){
            // stub
        }
    </script>

</body>

</html>