<!DOCTYPE html>
<html lang="en">

<body>
    Hello
    <%= pageData %>
    <% console.log(pageData); %>
    <h1>First Page</h1>

    <% pageData.firstPage.forEach(row => { %>
    <p><%= row.first_name %> - <%= row.id %></p>
    <% }) %>

    <h1>Next Page</h1>

    <% pageData.nextPage.forEach(row => { %>
    <p><%= row.first_name %> - <%= row.id %></p>
    <% }) %>
</body>

</html>